<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-conviviente-my-suffix-heading" jhiTranslate="techfileApp.conviviente.home.createOrEditLabel">Create or edit a Conviviente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!conviviente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="conviviente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="techfileApp.conviviente.orden" for="field_orden">Orden</label>
                    <input type="number" class="form-control" name="orden" id="field_orden"
                        [(ngModel)]="conviviente.orden" required/>
                    <div [hidden]="!(editForm.controls.orden?.dirty && editForm.controls.orden?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orden?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.orden?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="techfileApp.conviviente.pensionista" for="field_pensionista">Pensionista</label>
                    <select class="form-control" id="field_pensionista" name="pensionista" [(ngModel)]="conviviente.pensionista" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pensionistaOption.id === conviviente.pensionista?.id ? conviviente.pensionista : pensionistaOption" *ngFor="let pensionistaOption of pensionistas; trackBy: trackPensionistaById">{{pensionistaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
