<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-provincia-heading" jhiTranslate="techfileApp.provincia.home.createOrEditLabel">Create or edit a Provincia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!provincia.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="provincia.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="techfileApp.provincia.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="provincia.nombre" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="techfileApp.provincia.autonomia" for="field_autonomia">Autonomia</label>
                    <select class="form-control" id="field_autonomia" name="autonomia" [(ngModel)]="provincia.autonomia" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="autonomiaOption.id === provincia.autonomia?.id ? provincia.autonomia : autonomiaOption" *ngFor="let autonomiaOption of autonomias; trackBy: trackAutonomiaById">{{autonomiaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
