<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perceptor">
            <h2><span jhiTranslate="techfileApp.perceptor.detail.title">Perceptor</span> {{perceptor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="techfileApp.perceptor.persona">Persona</span></dt>
                <dd>
                    <div *ngIf="perceptor.persona">
                        <a [routerLink]="['/persona', perceptor.persona?.id, 'view']">{{perceptor.persona?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perceptor', perceptor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
