<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pensionConcurrente">
            <h2><span jhiTranslate="techfileApp.pensionConcurrente.detail.title">Pension Concurrente</span> {{pensionConcurrente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="techfileApp.pensionConcurrente.codigo">Codigo</span></dt>
                <dd>
                    <span>{{pensionConcurrente.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="techfileApp.pensionConcurrente.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{pensionConcurrente.descripcion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pension-concurrente', pensionConcurrente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
